/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}

header{
	padding: 0px; 

}

#blog-cabecera{
	text-align: center;
	text-decoration: none;	
	
}

#blog-cabecera a{
	text-decoration: none;
}

#blog-cabecera h1{
	color: rgba(79, 20, 20, .5);
	margin: 0;
}

#blog-cabecera p{
	color: rgba(59, 15, 15, .5);
	margin: 10px;
}

.contenido{
	padding-left: 50px;
	padding-right: 50px;

}

small{
  color: rgba(25, 10, 50, .5);
  font-size: 18px;
}

#barra{
	padding-bottom: 4px;

}

#barra h1{
	color: rgba(25, 10, 150, .5);
	margin: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	float: left;
	font-size: 20px;
	font-weight: bold;
}

#nav {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 19px;
    list-style-type: none;	
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#nav li {
    float: left;
}

#nav li a {
	text-align: center;
	text-decoration: none;
    display: block;
    margin-right: 0px;
    margin-left: 9px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
  	color: #000000;  /*rgba(15, 15, 15, .5); */

}
#nav li a:hover{
	color: #A90000;
	box-shadow: 1px 1px 5px #888888;
}


#contenido {
	padding-left: 90px;
	padding-right: 90px;
	text-align: center;

}

#contenido > h1 {
	color: rgba(190, 190, 190, .9);
	margin: 0;



}