<style>
.lead{
	font-size: 22px;
	margin-bottom: 90px;
}

.proj{
	width: 100%;
	text-align: center;
}

.proj-title{
	font-size: 20px;
}

.proj-detail{
	font-size: 17px;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}

</style>


<h1 class="page-header">Cesar Valdez</h1>

<div class="lead"> 
<p>I am a Full-stack web developer with over seven years of professional experience. Building distributed RESTful services using J2EE/Axis2 or NodeJS and develop rich client browser application using the latest MV* Javascript frameworks.</p>
		
<p>I am passionate about programming, i like to develop my own frameworks or do lightweight versions of existing ones to resolve particular issues, save some bandwidth or fun.</p>
</div>


<h3 >Open source / Pets Project</h3>


<div class="proj">
<h4 class="proj-title"> Lazy Blog Framework </h4>

<div class="proj-detail">
<p>It's a open source static blog framework i am working on in my free time. it has the following features:</p>

<ul>

<li>I wrote my own template engine. it is extensible, so you can add your own features.
</li>

<li>Writing the framework to download all content using XHR, and saving temporal content in local storage for efficiency use off bandwidth.
</li>

<li>Develop the routing manager & dispatcher to control all the browse navigation, using built in browser History API.
</li>

</ul>

<p><b>[Python]</b>

 <br>Writing a python generator that index all the (.md, .markdown) files, generating configuration file used for the frontend to administrated the content. 

I create my static Github.io using my framework.
http://cesarvr.github.io/#home</p>

</div>
</div>

<h4 class="proj-title"> LZM Template Engine </h4>

<p class="proj-detail">I'd wrote it as a part of my personal project Static Blog Generator. is a fast javascript template engine, that you can extend to associate new funcionality.</p>


<h4 class="proj-title"> AsyncModulesJS </h4>

<p class="proj-detail">Small API, import Javascript modules and placing it in the DOM. compatible with ie8. useful when you are somewhat constraint and RequireJS is not an option.</p>

