

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>{{site.title}} <small>&beta;eta</small> </h1>
      </div>
      <p class="lead">{{site.description}}</p>
    
<div class="row">
 <div class="col-xs-12 col-sm-6 col-md-8"><content> </content></div>
  <div class="col-xs-6 col-md-4">
  	  	



    <ul class="list-group">
    	
        <li >
        	<a href="#home">Home</a>
        </li>
       
        <% lazy.foreach(posts, function(post){ %>
        	<li>
        		<a href="{{ post.link }}">
        		{{ post.title }}
        		</a>
        	</li>
        <% }); %>

    </ul>


  </div>

</div>



   

